* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

body {
    background: hsl(225, 100%, 94%);
    margin: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background: #3829e0;
}

.content {
    text-align: center;
    padding: 30px;
}

.content h1 {
    font-size: 22px;
    margin-bottom: 12px;
    font-weight:900;
}

.description {
    color: #6d6d6d;
    line-height: 1.5;
    margin-bottom: 20px;
}

.plan-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f9ff;
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    width: 40px;
}

.info h3 {
    font-size: 16px;
    font-weight: 700;
}

.info span {
    color: #6d6d6d;
    font-size: 14px;
}

.change {
    color: #3829e0;
    font-weight: 700;
    text-decoration: underline;
    font-size: 14px;
}

.payment-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #3829e0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(56, 41, 224, 0.3);
    transition: 0.2s;
}

.payment-btn:hover {
    background: #4d3aff;
}

.cancel {
    display: block;
    margin-top: 20px;
    color: #6d6d6d;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
}

.cancel:hover {
    color: #000;
}